/* DEBUG */

body {
    /* background-color: red; */
}

/* HEADER container-fluid */
.header {
    /* border: 2px dashed blueviolet; */
    /* min-height: 80px; */
}

.container {
    border: 3px dashed yellowgreen;
}

.debug {
    min-height: 200px;
    background-color: salmon;
    border: 1px dashed black;
}

/* NAV row */


.upper-nav {
    /* border: 3px dashed yellowgreen; */
    height: 5vh;
    min-width: 100%;
}

.bottom-nav {
    /* border: 3px dashed blue; */
    min-height: 10vh;

}

/* MAIN container-fluid */

/* UPPER JUMBO */
.jumbotron-upper {
    height: 77vh;
    /* min-width: 100%; */
    padding-top: 35vh;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border: 2px dashed blue; */
}

.card.jumbo {
    border: 2px dashed red;
    background-color: transparent;
    color: #eee;
}


.img-box {
    width: 80%;
    /* border: 2px dashed yellowgreen; */
}

/* BOTTOM JUMBO */

.jumbotron-bottom {
    /* border: 3px dashed orange; */
}

.jumbo-img-box {
    width: 100%;

    /* border: 3px dashed lightseagreen; */
}

/* NO LIMITS SECTION */
.limits {
    min-height: 200px;
    background-color: salmon;

    border: 1px dashed black;
}

/* SMALL JUMBO */
#jumbotron-small {
    min-height: 60vh;
    background-color: lightpink;
}

/* NEW RELESE */

.small-jumbo-thumb {
    min-height: 200px;
    background-color: salmon;
    border: 1px dashed black;
}

/* PS-PLUS */

/* OFFERS */